(symbol
  "{{ sym.id }}"
  (in_bom no)
  (on_board yes)
  (pin_numbers hide)
  (pin_names (offset 0))
  {% for prop in sym.properties %}
  (property
    "{{ prop.name }}"
    "{{ prop.value }}"
    (id {{ prop.id }})
    (at {{ prop.pos[0] }} {{ prop.pos[1] }} {{ prop.pos[2] }})
    (effects
    (font
      (size 1 1)
    )
    {% if prop.justify %}
    (justify top)
    {% endif %}
    {% if prop.hide %}
    hide
    {% endif %}
    )
  )
  {% endfor %}
  (polyline
    (pts
      (xy 0.254 0)
      (xy -2.54 0)
    )
    (stroke (width 0) (type default))
    (fill (type none))
  )
  (polyline
    (pts
      (xy 0.254 1.905)
      (xy 0.254 -1.905)
    )
    (stroke (width 0.254) (type default))
    (fill (type none))
  )
  (polyline
    (pts
      (xy 0.762 -1.27)
      (xy 0.762 -2.286)
    )
    (stroke (width 0.254) (type default))
    (fill (type none))
  )
  (polyline
    (pts
      (xy 0.762 0.508)
      (xy 0.762 -0.508)
    )
    (stroke (width 0.254) (type default))
    (fill (type none))
  )
  (polyline
    (pts
      (xy 0.762 2.286)
      (xy 0.762 1.27)
    )
    (stroke (width 0.254) (type default))
    (fill (type none))
  )
  (polyline
    (pts
      (xy 2.54 2.54)
      (xy 2.54 1.778)
    )
    (stroke (width 0) (type default))
    (fill (type none))
  )
  (polyline
    (pts
      (xy 2.54 -2.54)
      (xy 2.54 0)
      (xy 0.762 0)
    )
    (stroke (width 0) (type default))
    (fill (type none))
  )
  (polyline
    (pts
      (xy 0.762 -1.778)
      (xy 3.302 -1.778)
      (xy 3.302 1.778)
      (xy 0.762 1.778)
    )
    (stroke (width 0) (type default))
    (fill (type none))
  )
  (polyline
    (pts
      (xy 1.016 0)
      (xy 2.032 0.381)
      (xy 2.032 -0.381)
      (xy 1.016 0)
    )
    (stroke (width 0) (type default))
    (fill (type outline))
  )
  (polyline
    (pts
      (xy 2.794 0.508)
      (xy 2.921 0.381)
      (xy 3.683 0.381)
      (xy 3.81 0.254)
    )
    (stroke (width 0) (type default))
    (fill (type none))
  )
  (polyline
    (pts
      (xy 3.302 0.381)
      (xy 2.921 -0.254)
      (xy 3.683 -0.254)
      (xy 3.302 0.381)
    )
    (stroke (width 0) (type default))
    (fill (type none))
  )
  (circle (center 1.651 0) (radius 2.794)
    (stroke (width 0.254) (type default))
    (fill (type none))
  )
  (circle (center 2.54 -1.778) (radius 0.254)
    (stroke (width 0) (type default))
    (fill (type outline))
  )
  (circle (center 2.54 1.778) (radius 0.254)
    (stroke (width 0) (type default))
    (fill (type outline))
  )
  (pin passive line (at 2.54 5.08 270) (length 2.54)
    (name "D" (effects (font (size 1.27 1.27))))
    (number "{{ sym.fet_gates()['drain'] }}" (effects (font (size 1.27 1.27))))
  )
  (pin input line (at -5.08 0 0) (length 2.54)
    (name "G" (effects (font (size 1.27 1.27))))
    (number "{{ sym.fet_gates()['gate'] }}" (effects (font (size 1.27 1.27))))
  )
  (pin passive line (at 2.54 -5.08 90) (length 2.54)
    (name "S" (effects (font (size 1.27 1.27))))
    (number "{{ sym.fet_gates()['source'] }}" (effects (font (size 1.27 1.27))))
  )
)
